
body{
    
}

section.sidebar {
    float: left;
    margin: 0 15px 15px 0;
}
section#main {
    display: inline-block;
}
footer {
    clear: both;
    padding: 1px;
}
    

#editor-container .button-save.dirty{
    background-color: indianred;
}

